body {
    font-family: "Raleway", sans-serif;
}

.is-active {
    font-weight: bold;
}

img.is-rounded {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    margin-bottom: 20px;
}

hr {
    border: 0.5px solid #7a7a7a;
}

.is-light-accent {
    background-color: #89a9ad;
    color: white;
}

.is-dark-accent {
    background-color: #777f84;
    color: white;
}

.is-black-blue {
    background-color: #3f5055;
    color: white;
}

.is-secondary-blue {
    background-color: #78a3b3;
    color: white;
}

.is-white-blue {
    background-color: #d2e9e9;
    color: white;
}

.section {
    padding-top: 0;
    padding-bottom: 1.5rem;
}

.display-inline {
    vertical-align: middle;
    display: inline-block;
}

.tag {
    vertical-align: middle;
}

.icon.is-large.project {
    height: 2rem;
}

.icon-link {
    color: #333233;
}

.breadcrumb p {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 0.35em;
}

.breadcrumb li:first-child p {
    padding-left: 0;
    color: #333233;
    padding-right: 0.5rem;
}

.links-bar, .skills-bar {
    text-align: center !important;
}

.is-size-5-5 {
    font-size: 1.10rem !important;
}

a {
    color: #78a3b3;
}