body {
  font-family: "Montserrat", sans-serif;
}

.is-active {
  font-weight: bold;
}

img.is-rounded {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  margin-bottom: 30px;
}

hr {
  border: 0.5px solid #7a7a7a;
}

.card .media:not(:last-child) {
  margin-bottom: 0.75rem;
}

.card.card--reverse-order {
  flex-direction: row-reverse;
}

.card.is-horizontal {
  display: flex;
  flex-basis: 50ex;
  flex-grow: 0;
  flex-shrink: 1;
}

.card.is-horizontal .card-image {
  flex: 4;
  flex-shrink: 1;
}

.card.is-horizontal .card-image .image {
  display: block;
  position: relative;
  overflow: hidden;
  /* height: 100%; */
  /* width: 100%; */
}

.card.is-horizontal .card-image .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card.is-horizontal .card-content {
  flex: 3;
}

.is-light-accent {
  background-color: #89a9ad;
  color: white;
}

.is-dark-accent {
  background-color: #777f84;
  color: white;
}

.is-black-blue {
  background-color: #3f5055;
  color: white;
}

.is-secondary-blue {
  background-color: #78A3B3;
  color: white;
}

.is-white-blue {
  background-color: #d2e9e9;
  color: white;
}

.section {
  padding-top: 0;
  padding-bottom: 1.5rem;
}