.timeline-subtitle {
    margin-bottom: .5rem !important;
}

.timeline-headline {
    margin-bottom: 1rem !important;
}

.timeline.is-centered .timeline-item.is-secondary-blue::before {
    background-color: #78a3b3;
}