@charset "utf-8";
$grey-dark: #333233;
$green: #53ae71;
$orange: #d09d39;
$red: #f44336;
$white-ter: #f7fff8;
$grey-light: #777f84;
$light-accent: #89a9ad;
$dark-accent: #777f84;
$primary: #62aabd;
$info: $grey-dark;
$success: $green;
$warning: $orange;
$danger: $red;
$light: $white-ter;
$dark: $grey-dark;
$pagination-current-background-color: $info;
$pagination-current-border-color: $info;
$pagination-focus-border-color: $info;
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-timeline/dist/css/bulma-timeline.sass";