@charset "utf-8";
$red: #ed5444;
$grey-dark: #3e414e;
$green: #7c934c;
$orange: #fa8314;
$bright-red: #f44336;
$washed-red: #c98875;
$white-ter: #f7f7f7;
$grey-light: #baaaa5;
$primary: $red;
$secondary: $washed-red;
$info: $grey-dark;
$success: $green;
$warning: $orange;
$danger: $washed-red;
$light: $white-ter;
$dark: $grey-dark;
$pagination-current-background-color: $info;
$pagination-current-border-color: $info;
$pagination-focus-border-color: $info;
@import "../node_modules/bulma/bulma.sass";